.container-header {
  max-width: 100%;
  height: 25%; }

.container-header-bot {
  margin-left: 30%;
  height: 30%; }

.container-header-img {
  max-width: 20%;
  float: left;
  height: 10%; }

.container-header-search {
  -webkit-box-flex: 0;
  width: 50%;
  float: left;
  margin-top: 9%;
  padding-left: 10%; }

.txtsearch {
  color: #191e21;
  width: 70%;
  letter-spacing: 1px;
  padding: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22); }

.btnSearch {
  border-radius: 0;
  background: #F45C5D;
  color: #fff;
  width: 20%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
  padding: 10px; }

.navbar navbar-expand-lg navbar-light bg-light {
  margin-right: -85%; }

.container-body {
  background-color: white;
  margin-top: 8%;
  width: 100%;
  height: 100%;
  margin-left: 5%; }

.container-header-data-user {
  float: right;
  margin-right: 2%;
  position: relative;
  top: -15%; }
  .container-header-data-user p {
    font-size: 90%; }

.card-body-button {
  float: right;
  margin-right: 5px;
  position: relative;
  top: -60px; }

.navbar-custom-menu {
  float: right; }

.navbar-nav {
  float: left;
  margin: 0; }

.navbar-custom-menu > .navbar-nav > li {
  position: relative;
  float: left;
  display: block; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  border-color: #337ab7; }

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px; }

.open > a {
  outline: 0; }

a {
  text-decoration: none; }

.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0; }

.open > .dropdown-menu {
  display: block; }

.dropdown-menu {
  box-shadow: none;
  border-color: #eee; }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center; }

.skin-blue .main-header li.user-header {
  background-color: #3c8dbc; }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px; }
