body {
}

.content-detalle-producto {
   padding:10px;
   position:relative;   
    .content-detalle-producto-imagen {


        .imagen-producto-detalle {
          
            }
        }
    }

    .content-detalle-producto-descripcion {
      

        .cabecera-detalle-producto-descripcion {
  

            .titulo-detalle-producto {
                h3 {
             
                }
            }

            .codigo-detalle-producto {
                p {
                    margin: 0;
                }
            }
        }

        .descripcion-detalle-producto {
            p {
                margin: 0;
            }
        }
    }

    .content-detalle-producto-total {
    

        .monto-detalle-producto {

        }

        .opcion-pagar-detalle-producto {
    

            button {
               
            }
        }
    }


.card-shadow {
  /*  border-color: rgba(184,175,184,1);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);*/
}
